.suggestions-container {
  width: 100%;
  
}

.suggestions-block {
  margin-top: 1rem;
  margin-left: 2rem;
  border: 5px solid black;
}

.suggestions-box {
  padding: 1rem;
  border-width: 1px;
  border-radius: 0.25rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;  
}

.suggestions-name {
  font-weight: bold;
}

.suggestions-button {
  margin-top: 0.5rem;
  /* width: 100%; */
}

@media (min-width: 768px) {
  .suggestions-container {
    max-width: 400px;
    margin: 0 auto;
  }
}
