.suggestions-container {
  width: 50%;   
}

.suggestions-block {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 1rem;
  border-radius: 3rem;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: var(--color-1);
  position: fixed;
  top: 4rem;
  width: 300px;
  padding: 1rem;
  border: 2px solid var(--color-4);
}
.suggestions-block h2{
  color: var(--color-4);
  font-family: var(--font);
}

.search-bar {
  flex-grow: 1;
  margin: 0 1rem;
 padding: 8px;
}

.suggestions-box {
  border-width: 1px;
  /* border-radius: 0.25rem; */
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  border: 2px solid var(--color-4);
  border-radius: 4rem;
  margin:2px;
  font-family: var(--font);
  color: var(--color-4);
  height: 70px;
}
.suggestions-box img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--color-4);
  margin-right: 5px;
  font-family: var(--font);
}

.suggestions-name {
  font-weight: bold;
  height: auto;
  font-family: var(--font);
  font-size: 1.5rem;
}
.suggestions-name p{
  font-weight: lighter;
  margin-top: auto;
  font-size: 1rem;
}

.suggestions-button {
  margin-top: 0.5rem;
  margin-bottom: 10px;
  font: var(--font);
  font-weight: 300;
  font-size: 15px;
  padding: 8px 12px;
  display: inline-block;
  border: 5px solid var(--color-1);
  border-radius: 4rem;
  color: var(--color-1);
  background-color: var(--color-4);
}

@media (min-width: 768px) {
  .suggestions-container {
    max-width: 400px;
    margin: 0 auto;
  }
}
