.profile-details{
     display: flex;
  background-color: var(--color-0);
}
.profile-post{
     font-family: var(--font-3-3);
  color: var(--color-4);
  border: 2px solid var(--color-1);
  margin-top: 2rem;
  background-color: var(--color-4);
  border-radius: 20px;
  color: var(--color-1);
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 20%;
  margin-top: 5rem;
}
.profile-avatar { 
  width: 100px;
  height: 100px;
  border-radius: 25%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--color-1);
  margin-right: 5px;
  font-family: var(--font-3-3);
  margin-left: 5px;
  background-color: var(--color-1);
}
.avatar{
      width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--color-1);
  margin-right: 5px;
  font-family: var(--font-3);
  margin-left:2rem;
  background-color: var(--color-1);
}
.profile-user{
    display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3rem;
  align-items: center;
  padding-left: 6rem;
}
.profile-user p{
 margin-top: 0;
  font-weight: lighter;
  font-size: smaller;
}
.bio{
    margin-top: 0;
    margin-bottom: 0;
}
.portfolio{
    margin-top: 0;
    text-decoration: underline;
}
.content{
    text-align: left;
    padding-left: 5rem;
}
.for-edit{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8rem
}
.follow{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: medium;
  font-weight: bold;
}
.follow-btn{
  margin-top: 0.5rem;
  margin-bottom: 20px;
  font: var(--font-3);
  font-weight: 600;
  font-size: 13px;
  padding: 8px 15px;
  display: inline-block;
  border: 5px solid var(--color-4);
  border-radius: 4rem;
  color: var(--color-4);
  background-color: var(--color-1);
}
.button{
  color: var(--color-1);
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.edit-profile-post{
   border: 2px solid var(--color-1);
  margin:10px 2rem;
  text-align: center;
  font-family: var(--font-3);
  padding-right: 10px;
}
.edit-profile-post input{
  font-family: var(--font-3);
  padding: 5px;
}
.edit-post-btn{
  border: 2px solid var(--color-1);
  border-radius: 20px;
  padding: 10px;
  color: var(--color-4);
  font-weight: bold;
  margin: 10px;
  background-color: var(--color-1);
}

