.bookmark {
  /* background-image:url("https://images.assetsdelivery.com/compings_v2/leoedition/leoedition1904/leoedition190400354.jpg"); */
  font-family: var(--font-3);
  display: flex;
  height: 100vh;
  background-color: var(--color-0);
}
.bookmark-content {
  width: 60%;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 20%;
  margin-top: 5rem;
}
.no-bookmarks {
  color: var(--color-4);
  font-size: 2rem;
  background-color: var(--color-1);
  padding: 3px;
  margin: 2rem;
  border-radius: 5rem;
}
.bookmark-posts-list {
  border: 2px solid;
  background-color: var(--color-4);
  font-family: var(--font-3);
  color: var(--color-4);
  border: 2px solid var(--color-1);
  background-color: var(--color-4);
  border-radius: 20px;
  color: var(--color-1);
}
li {
  list-style-type: none;
      text-align: -webkit-match-parent;
}
.bookmark-user-info{
     display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-top: 2rem;
  align-items: center;
}
.bookmark-user-info p{
    margin-top: 0;
    font-weight: lighter;
    font-size: smaller;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 0;
}
button{
    background-color: transparent;
    border: none;
}
.bookmark-post-content{
    text-align: left;
    padding-left: 2rem;

}
.like-count {
  display: flex;
  gap: 15px;
}
.like-count p{
  margin-top: 5px;
  margin-bottom: 0;
  color: var(--color-1);
  font-size: 20px;
}