@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

:root{
  --color-0:#fcf3ea;
  --color-1:#ddd4cc;
  --color-2:#afa193;
  --color-3:#9b8269;
  --color-4:#5f5449;
 --font:'Dancing Script',cursive;
 --font-2:'Black Ops One',cursive;
 --fonnt-3:'Oleo Script', cursive;
}


.App {
  text-align: center;
  /* height: 100vh; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
