.home {
  display: flex;
  justify-content: center;
  background-color: var(--color-0);
  /* background-image: url("https://images.assetsdelivery.com/compings_v2/leoedition/leoedition1904/leoedition190400354.jpg"); */
}

.home-content {
  width: 60%;
  margin: 0 auto;
   /* position: relative; */
  /*top: 5rem; */
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  /* left: 10rem; */
  margin-left: 20%;
  margin-top: 3rem;
}

.text-area {
  border: none;
  /* border-radius: 30px; */
  padding: 10px;
  margin-top: auto;
  font-size: 16px;
  color: #000;
  background-color: var(--color-1);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  outline: none;
  font-family: var(--font-3);
  height: max-content;
  width: -webkit-fill-available;
}
/* .text-area:focus{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} */
.button {
  color: var(--color-4);
}
input {
  color: var(--color-4);
  margin-left: 1rem;
  font-weight: bold;
}

.create-post {
  font-family: var(--font-3);
  color: var(--color-4);
  border: 2px solid black;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 10px;
}
.create-post,
lable {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.sidebar {
  /* width: 15rem;
  
  padding: 1rem;
  padding-right: 20px; */
  position: fixed;
  left: 0;
  top: 4rem;
}

/* .suggestions {
  width: 250px;
  background-color: #f5f8fa;
  padding: 1rem;
} */

.create-post {
  margin-bottom: 1rem;
}

.button-trending-sorting{
  display: flex;
  justify-content: center;
  font-family: var(--font-3);
}

.button-trending-sorting button{
  width: 50%;
  padding: 10px;
  font-family: var(--font-3);
  background-color: var(--color-4);
  border: 2px solid var(--color-1);
  border-radius: 2rem;
  color: var(--color-1);
  font-size: medium;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}


.posts {
  list-style-type: none;
  padding: 0;
  color: var(--color-1);
  border: 2px solid var(--color-1);
  background-color: var(--color-4);
  font-family: var(--font-3);
  font-size: 1.5rem;
}

.posts li {
  margin-bottom: 1rem;
}
.posts-list .post-content{
  text-align: left;
  padding-left: 2rem;
}
.user-info h3 {
  padding-top: 5px;
  margin-top: 4rem;
  padding-left: 5px;
}
.user-info {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-around;
}
.user-info-hide-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info p {
  margin-top: 0;
  font-weight: lighter;
  font-size: smaller;
}

.user-info .date {
  font-size: small;
  padding-bottom: 1rem;
}
.posts .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--color-1);
  margin-right: 5px;
  font-family: var(--font-3);
  margin-left: 5px;
}

.post{
  font-size: large;
  font-family: var(--font-3);
  font-weight: bolder;
  margin: 0;
}

.posts .posted-img {
  width: -webkit-fill-available;
}

.edit-post{
  border: 2px solid var(--color-1);
  margin:10px 2rem;
}
.edit-post h3{
margin-top: 10px;
margin-bottom: 10px;
}
.edit-post p{
  text-align: end;
}
 .input{
  padding: 5px;
}
.edit-btn{
  margin-top: 0.5rem;
  margin-bottom: 10px;
  margin-left: 0.5rem;
  font: var(--font-3);
  font-weight: 300;
  font-size: 20px;
  padding: 8px 12px;
  display: inline-block;
  border: 2px solid var(--color-1);
  border-radius: 4rem;
  color: var(--color-1);
  background-color: var(--color-4);
}
.edit-lable p{
  margin:0px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .home-content {
    width: 100%;
  }

  .sidebar,
  .suggestions {
    width: 100%;
    margin-top: 1rem;
  }
}
